.navbar-brand {
    font-size: 32.8px;
    font-family: 'Source Sans 3', sans-serif;
}

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
}

.nav-item {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.nav-search {
    margin-right: 50px;

}

.navi {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.butn {
    display: flex;
    width: 106px;
    height: 44px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #09B451;
    border: none;
    outline: none;
}

.btn-text-success {
    display: inline-flex;
    padding: 8px 18px;
    align-items: flex-start;
    gap: 10px;
    text-decoration: none
}

.card-title {
    font-size: 30px;
    font-family: Poppins, sans-serif;


}

.align {
    display: inline-flex;
    align-items: center;
    gap: 394px;
}

.sub-card {
    background-color: white;
    display: flex;
    width: 262px;
    padding: 17.677px 23.649px 12.095px 24.208px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10.234px;
    border-radius: 14px 14px 30px 14px;
    box-shadow: 0px 0px 69.23334px 0px rgba(112, 112, 112, 0.25);
    font-family: Poppins, sans-serif;
    font-size: 20px;
}

.sub-car {
    width: 129px;
    height: 146px;
    flex-shrink: 0;
    background-color: white;
    font-family: Poppins, sans-serif;
    border-radius: 6.887px 6.887px 17.217px 6.887px;
    background: #FFF;
    box-shadow: 0px 0px 42.69811px 0px rgba(112, 112, 112, 0.25);
    float: right;
}